<!DOCTYPE html>{% load staticfiles future assets webapp %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>{% block title %}Bem vindo{% endblock %}</title>
  <meta name="description" content="">
  <meta name="csrf-token" content="{% csrf_token %}">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/pepper-grinder/jquery-ui-1.10.3.custom.min.css' %}"/>
  {% assets 'css' %}<link rel="stylesheet" href="{{ ASSET_URL }}"/>{% endassets %}
  <script src="http://maps.google.com/maps/api/js?v=3&amp;libraries=drawing,visualization&amp;sensor=false&amp;language=pt&amp;region=BR"></script>
</head>
<body>
{% block container %}{% url 'webapp_home'  as home_url %}
  {% block header %}
    <div class="navbar container navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ home_url }}">Cartão Programa</a>

          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav pull-right">
              <li {% active 'home' %}><a href="{{ home_url }}">Home</a></li>
              <li {% active 'novo' %}><a href="{% url 'webapp_new_card' %}">Cartão</a></li>
              <li {% active 'procurar' %}><a href="{% url 'webapp_search_card' %}">Procurar</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username|capfirst }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'webapp_logout' %}">Logout</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.nav-collapse -->
        </div>
      </div>
      <!-- /navbar-inner -->
    </div><!-- /navbar -->
  {% endblock %}
  {% block content %}
    <div class="container">
      <a class="btn" href="{% url 'webapp_new_card' %}">Novo cartão</a>
      <a class="btn" href="{% url 'webapp_search_card' %}">Procurar cartão</a>
    </div>
  {% endblock %}
  {% block footer %}
    <footer style="height: 300px; margin-top: 10px; text-align: center" class="container">
      <h4>&copy; 2013 UFPA - ICEN - Instituto de Ciências Exatas e Naturais</h4>
    </footer>
  {% endblock %}
{% endblock %}
<script src="{% static 'webapp/js/jquery-2.0.0.min.js' %}"></script>
<script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'webapp/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script src="{% static 'webapp/js/jquery-ui-timepicker-addon.js' %}"></script>
<script src="{% static 'webapp/js/jquery-ui-sliderAccess.js' %}"></script>
<script src="{% static 'webapp/js/jquery.livequery.min.js' %}"></script>
<script src="{% static 'webapp/js/jquery.blockUI.js' %}"></script>
{% assets 'markers' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets 'js' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
</body>
</html>