{% extends 'webapp/base.html' %}{% load future %}
{% block title %}Login{% endblock %}
{% block container %}
  <div class="container well">
    <form action="{% url 'webapp_login' %}" method="post">{% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ form.non_field_errors.0 }}
        </div>
      {% endif %}
      {% for field in form %}
        <div class="control-group{% if field.errors %} error{% endif %}">
          {{ field.label_tag }}
          <div class="controls">
            {{ field }}
            <span class="help-inline">{{ field.errors.0 }}</span>
          </div>
        </div>
      {% endfor %}
      <input type="hidden" name="next" value="{{ next }}"/>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
{% endblock %}