{% extends 'webapp/base.html' %}{% load webapp %}
{% block title %}Busca{% endblock %}
{% block content %}
  <div id="container" class="container">
    <form action="{% url 'webapp_search_card' %}">
    <div class="input-append">
      <input type="search" class="input-medium" placeholder="Digite sua busca" name="q">
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
    </form>
    {% if cards %}
      <h4>Total: {{ total }}</h4>
      <table class="table table-hovered table-bordered">
        <tr><td>ID</td><td>Descrição do cartão</td><td>Sigilo</td><td>Ação</td></tr>
        {% for card in cards %}
          <tr><td>{{ card.pk }}</td><td>{{ card.card_description }}</td><td>{{ card.get_sigilo_display }}</td><td><a href="{% url 'webapp_new_card' %}?pk={{ card.pk }}">Visualizar</a></td></tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
{% endblock %}