#map {
    width: 100%;
    height: 500px;
    margin: 0;
}

#loadedMap {
    width: 100%;
    height: 500px;
    margin: 0;
}

#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
}

#loadedMap img { 
  max-width: none;
}

#loadedMap label { 
  width: auto; display:inline; 
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }